@model ICollection<VistoriaDeVeiculos.Models.ViewModels.PerguntaViewModel>

@foreach (var pergunta in Model)
{
    <div class="form-group col-md-6">
        <input asp-for="@pergunta.Id" type="hidden" value="@pergunta.Id" />
        <label asp-for="@pergunta.Titulo">@pergunta.Titulo</label>
        <input asp-for="@pergunta.TipoDeResposta" class="form-control form-control-sm" value="@pergunta.TipoDeResposta" />
    </div>
}