@model VistoriaDeVeiculos.Models.ViewModels.FormularioDeInspecaoViewModel
@{
    ViewData["Title"] = "Formulario De Inspecao";
}

<div class="card">
    <div class="card-header">Formulario de Inspecao de Veiculo</div>
    <div class="card-body">
        <form asp-controller="FormularioDeInspecao" asp-action="Finalizar" method="post">
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="DadosDoFormulario.PeriodicaSemanal"></label>
                    <input asp-for="DadosDoFormulario.PeriodicaSemanal" class="form-control form-control-sm" value="@Model.DadosDoFormulario.PeriodicaSemanal" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DadosDoFormulario.TipoDeTransferencia"></label>
                    <input asp-for="DadosDoFormulario.TipoDeTransferencia" class="form-control form-control-sm" value="@Model.DadosDoFormulario.TipoDeTransferencia" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="DadosDoFormulario.Obra"></label>
                    <input asp-for="DadosDoFormulario.Obra" class="form-control form-control-sm" value="@Model.DadosDoFormulario.Obra" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DadosDoFormulario.DataDaInspecao"></label>
                    <input asp-for="DadosDoFormulario.DataDaInspecao" class="form-control form-control-sm" value="@Model.DadosDoFormulario.DataDaInspecao" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DadosDoFormulario.NumeroDoFormulario"></label>
                    <input asp-for="DadosDoFormulario.NumeroDoFormulario" class="form-control form-control-sm" value="@Model.DadosDoFormulario.NumeroDoFormulario" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="DadosDoVeiculo.Placa"></label>
                    <input asp-for="DadosDoVeiculo.Placa" class="form-control form-control-sm" value="@Model.DadosDoVeiculo.Placa" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DadosDoVeiculo.UltimaRevisao"></label>
                    <input asp-for="DadosDoVeiculo.UltimaRevisao" class="form-control form-control-sm" value="@Model.DadosDoVeiculo.UltimaRevisao" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="DadosDoMotorista.Cnh"></label>
                    <input asp-for="DadosDoMotorista.Cnh" class="form-control form-control-sm" value="@Model.DadosDoMotorista.Cnh" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="DadosDoMotorista.Categoria"></label>
                    <input asp-for="DadosDoMotorista.Categoria" class="form-control form-control-sm" value="@Model.DadosDoMotorista.Categoria" />
                </div>
            </div>
            <hr />
            <div class="form-row">
                <partial name="_ListaDePerguntas" model="Model.Perguntas" />
            </div>
            <div class="form-row">
                <button class="btn btn-info ml-auto">Finalizar</button>
            </div>
        </form>
    </div>
</div>
